@model AchievementsGrabber.Model.Default.SearchModel

@{ var css = Model.InSearch ? "" : "btn-large"; }

@using (Html.BeginForm("Index", "Default", FormMethod.Get, new {@class = "form-search"}))
{
	<div class="input-append control-group">
		@Html.Hidden("InSearch", "true")
		@Html.TextBoxFor(x => x.Text, new Dictionary<string, object>
		{
			{"class", "input-large search-query with-popover"},
			{"placeholder", "Search..."},
			{"data-original-title", "Error occured!"},
			{"data-content", "asd;ljasdh jashd lajshd ;asdh asl;dh ;asdh as;"},
			{"data-placement", "bottom"},
			{"data-trigger", "manual"},
		})
		<button type="submit" class="btn @css">
			<i class="icon-search"></i>
		</button>
		@Html.ValidationMessageFor(x => x.Text)
	</div>
}